@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@300&display=swap');
body{
    background-color:#4abdac;
    color:#dfdce3;
    font-family: "Prompt", sans-serif;
    letter-spacing: 0.15vh;
    font-size:1.7vmax ;
}
h1{
    padding:0;
    margin:1vmax;
    font-size:5vmax;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.space{
    padding: 10px;
}
.op-val_res{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content:center;
}
.inputs{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}
.in{
    all:unset;
    background-color:#e9bd65;
    color: #dfdce3;
    padding:0 1vmin 0 1vmin;
    width: 14vmax;
    height:3vmax;
    margin:1.7vmax 1vmax 1vmax 1.7vmax;
    border-radius: 12px;
}
.in:hover{
    background-color:#e0ad47;
}
.options-box{
    background-color:#fc4a1a;
    width: 24vmax;
    height:  35vmax;
    display:flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    border-radius:20px;
    padding:3vmin 3vmin 3vmin 3vmin;
}
.btn{
    all:unset;
    background-color:#e9bd65;
    color:#dfdce3;
    text-align: center;
    margin:1vmin 2vmin 1vmin 2vmin;
    width:22vmax;
    height:3vmax;
    border-radius:12px;
    border:0.27vmax solid #e9bd65;
}
.btn:hover{
    background-color:#4abdac;
    border:0.27vmax solid#4abdac;
}
.btn:active{
    border:0.27vmax solid #fcd079;
}
.result{
    all:unset;
    background-color:#e9bd65;
    width:14vmax;
    height:3vmax;
    padding:0 1vmin 0 1vmin;
    border-radius: 15px;
    color: #dfdce3;

}
.result:hover{
    background-color:#e0ad47;
}
@media (max-width:200){
    .inputs{
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
}
}

@media (max-width: 750px)
{
    .main {
        flex-direction: column;
    }
    .result{
        margin-bottom: 1.7vmax;
    }
    .inputs {
        flex-direction: row;
    }
}
@media (orentation:landscape) and (max-width:450px){
    .inputs{
        flex-direction: row;
    }
    .main:{
        font-size:100;
    }
}